
<style>
    .empty-aler {
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 49%;
    }
</style>
<div class="empty-aler">
    <h3>Chưa có món trong thực đơn</h3>
    <h4>Mở Thực đơn để chọn món</h4>
</div>

