
    <nav class="AD-header">
        <a class="QL" data-target="AD_QLThongKe">
            Thống kê doanh thu
        </a>
        <a class="QL" data-target="AD_QLBill">
            Quản lý hóa đơn
        </a>
        <a class="QL" data-target="AD_QLMenu">
            Quản lý thực đơn
        </a>
        <button class="logOut-btn">Đăng xuất</button>
    </nav>

    <div id="AD-container">

    </div>
