
    <div id="contain">
        <div id="left">
            <ul class="nav">
                <li class="tap-nav" data-target="PartTables">Phòng bàn</li>
                <li class="tap-nav" data-target="V_Menu">Thực đơn</li>
            </ul>
            <input class="search-box" placeholder="Tìm món">
            <div class="container">
                <div id="left-layout">
                    
                </div>
            </div>
        </div>
        <div id="right">
            <div id="table-id" data-table-id="1"></div>
            <button class="logOut-btn">Đăng xuất</button>
            <div class="container">
                <div id="billDetail" class="bill">

                </div
            </div>
        </div>
    </div>

    <div id="full">
    
    </div>


