@model M_AD_QLMenu

<form id="form-exchange">
    <h3 >Sửa thông tin món</h3>
    <label for="name"><h5>Tên món</h5></label>
    <input type="text" id="Name" value="@Model.TenMon"><br>
    <label for="price"><h5>Giá</h5></label>
    <input type="text" name="price" id="price" value="@Model.Gia"><br>
    <label for="type"><h5>loại</h5></label>
    <select id="type" name="type" >
        <option value="buffet">buffet</option>
        <option value="drink">drink</option>
        <option value="tea">tea</option>
        <option value="wine">wine</option>
    </select> <br>

    <button type="button" class="updateMenuBtn" data-item-id="@Model.id"> Sửa</button>
    <div class="cancer">Hủy</div>
</form>